.App {
  display: flex;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.header-area {
  position: absolute;
}

a {
  color: white;
  text-decoration: none;
}

svg {
  color: red;
  margin: auto;
}

form {
  display: grid;
}

.container {
  max-width: 70%;
  margin: auto;
}

label {
  margin-bottom: 10px;
}

.btn-c,
.btn-clear {
  padding: 10px 10px;
  margin: 0 2px;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  color: rgb(43, 43, 43);
  font-size: 2.5vh;
  border-radius: 2px;
  min-width: 30px;
  background-color: #d1cac0;
  transition: all 0.3s ease-in-out;
}

.btn-a,
.btn-d {
  margin: 0 2px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 2.5vh;
  border-radius: 2px;
  min-width: 30px;
}

.btn-a,
.btn-clear {
  background-color: #897c6c;
  transition: all 0.3s ease-in-out;
}

.btn-d {
  background-color: #b8bebe;
  transition: all 0.3s ease-in-out;
}

.btn-a:hover {
  background-color: #685f54;
  transition: all 0.3s ease-in-out;
}

.btn-d:hover {
  background-color: #8b9292;
  transition: all 0.3s ease-in-out;
}

.btn-c:hover {
  background-color: #59554f;
  color: rgb(201, 200, 200);
  transition: all 0.3s ease-in-out;
}

.btn-clear:hover {
  background-color: #685f54;
  color: rgb(201, 200, 200);
  transition: all 0.3s ease-in-out;
}

.d-flex,
.d-lg-flex {
  display: flex;
  justify-content: center;
}

input {
  width: 12vh;
  height: 3vh;
  color: white;
  text-align: center;
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  font-size: calc(5px + 2vmin);
}

.modal-body {
  text-align: center;
}

input:focus-visible {
  outline-offset: transparent !important;
  outline-offset: none !important;
}

label {
  font-size: calc(5px + 2vmin);
}

.modal-body h2,
.modal-body h3 {
  margin-top: 0;
  color:rgb(244, 216, 216);
}

.btn-close {
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
  font-size: 24px;
  color: white;
}

.result {
  color: #ebe5de;
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 568px) {
  .d-lg-flex {
    display: grid;
  }

  .d-lg-flex .form-group {
    margin: 5px 0 !important;
  }

  .d-lg-flex h3 {
    margin: 2px !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.form-group {
  margin: 20px 0;
  display: grid;
  width: 100%;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
